.channels-container {
    flex-wrap: wrap;
    display: inline-flex;
    width: 100%;
}

.subreddit {
    box-sizing: border-box;
    padding: 0;

    .subreddit-header {
        text-transform: capitalize;
        text-overflow: ellipsis;
        padding: 5px 10px;
        text-decoration: none;
    }

    .article-list-container {
        padding: 0;

        .article-list {
            height: 300px;
            overflow-y: auto;

            .article {
                height: auto;
                margin-top: 5px;
                margin-bottom: 5px;

                .article-image {
                    border-radius: 0;
                    width: 50px;
                    height: 50px;
                }

                .article-headline {
                    -ms-text-overflow: initial ;
                    text-overflow: initial ;
                    white-space: normal ;
                }
            }
        }
    }
}
