.channels-container {
    flex-wrap: wrap;
    display: inline-flex;
    width: 100%;
}

.channel {
    width: 31%;
    margin: 1%;
    box-sizing: border-box;
}

.article-list {
    height: 400px !important;
    overflow-y: auto !important;
}

.card__text {
    padding: 0 !important;
}