.channels-container {
    flex-wrap: wrap;
    display: inline-flex;
    width: 100%;
}

.subreddit {
    box-sizing: border-box;
    padding: 0;

    .subreddit-header-container {
        max-width: 40%;
        text-transform: capitalize;
        text-overflow: ellipsis;
        padding: 5px 10px;
    }

    .subreddit-header {
        text-decoration: none;
    }

    .article-list-container {
        padding: 0;

        .article-list {
            height: 300px;
            overflow-y: auto;

            .article {
                height: auto;
                margin-top: 5px;
                margin-bottom: 5px;

                .list__tile {
                    height: auto;
                }
                
                .article-image {
                    display: block;
                    border-radius: 0;
                    width: 48px;
                    height: 48px;
                }

                .article-headline {
                    height: auto;
                    overflow: visible;
                    -ms-text-overflow: initial ;
                    text-overflow: initial ;
                    white-space: normal;
                    line-height: 14px;
                }

                .article-detail-link {
                    text-decoration: none;
                }

                .reddit-ranking {
                    width: 100%;
                    text-align: center;

                    .icon {
                        display: block;
                        margin: auto;
                    }
                }
            }
        }
    }
}
